@media only screen and (min-device-width:375px) and (max-device-width:667px){


}

@media only screen and (min-device-width:320px) and (max-device-width:568px){


}


     #home{
        top:25%;
        left:10%;
        text-transform: translate(-50%, -50%);
        font-size: 2em;
     }

    #admin{
        top:30%;
        left:5%;
        text-transform: translate(-50%, -50%);
        font-size: 2em;
     }

    #user{
        top:30%;
        left:5%;
        text-transform: translate(-50%, -50%);
        font-size: 2em;
     }

     #play{
        top:20%;
        text-transform: translate(-50%, -50%);
        font-size: 2em;
     }




     #create{
        background-color: #000000;
        color:#FFFFFF;
        padding:10px;
        border-radius: 10px;
        width:4em;
        height:2em;
        font-size: 2em;
        text-align: center;
     }

     p{
        font-size:1.7em;
     }

     h3{
        font-size: 1.7em;
     }

     button{
        zoom:300%;
     }

     input{
        zoom:300%;
     }

     #join{
        background-color: #000000;
        color:#FFFFFF;
        padding:10px;
        border-radius: 10px;
        width:4em;
        height:2em;
        font-size: 2em;
        text-align: center;
     }


     #top, #bottom, #left, #right{
        background:#000000;
        position: fixed;
     }

     #left, #right{
        top:0; bottom:0;
        width:5px;
     }
     #left{left:0;}
     #right{right:0;}

     #top, #bottom{
        left:0; right:0;
        height:5px;
     }
     #top{top:0;}
     #bottom{bottom:0;}


body {
  padding: 3em;
  font-family: 'Open Sans', sans-serif;
  text-align:center;
}


textarea {
  resize: none;
}


